* {
    box-sizing: border-box;
}

/* Colors for both styles */
body {
--lightBackgroundColor: #e5fecb;
--darkBackgroundColor: #2d2d2d;

--darkFontColor: #000000;
--lightFontColor: #c8c6c6;

--greenButtonColor: #6fd468;
--grayButtonColor: #5c5b5b;
}

button {
  background-color: var(--greenButtonColor);
  border-radius: 4px;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "top-bar"
    "sort-filter"
    "main";
  grid-template-rows:
    auto   /* header */
    50px   /* top-bar */
    50px   /* sort-filter */
    1fr;   /* note list */
  min-height: 100vh;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  grid-area: header;
  margin-bottom: 0rem;
}

.top-bar {
  grid-area: top-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  min-height: 40px;
}

.sort-filter-buttons {
  grid-area: sort-filter;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 0;
  min-height: 40px;
  height: 50px;
}

.note-list__ul {
  grid-area: main;
  padding-left: 0;
}

.button-add,
.button-style,
.button-sort-name,
.button-sort-due-date,
.button-sort-creation-date,
.button-sort-importance,
.button-filter {
  min-height: 25px;
  height: 30px;
}

.button-filter {
  margin-left: auto;
}

.button-filter-bold {
  font-weight: bold;
}

.note-list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #000000;
  padding-bottom: 0.5rem;
}

.note-list__item-title-text {
  margin-block: 6px;
  padding: 0;
}
.note-list__item-item-text {
  margin: 4px;
  padding: 0;
}

.note-list__item-meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}